{% extends "base.html" %}

{%- block title %}
     <title>RegisterExplorer: concordance</title>
{%- endblock title %}

{% block content %}
    <div class="row">
	<h2>Concordance for <strong><i>{{ word }}</i></strong> in {{ models[register] }} texts</h2>
	<p><i>10 random sentences</i></p>
	{% if result %}
	<ul>
	{% for sentence in result  %}
        
        <li>{% for token in sentence %}
        {% if token.split('_')[1:] == word.split('_') %}
        <strong>{{ token.split('_')[0] }}</strong>
        {% else %}
        {{ token.split('_')[0] }}
        {% endif %}
        {% endfor %}</li>
        {% endfor %}
        </ul>
        {% endif %}
        
        {% if error %}
        {{ error }}
        {% endif %}
        
        </div>

{% endblock %}
