{% extends "base.html" %}

{%- block title %}
     <title>RegisterExplorer: word analysis</title>
{%- endblock title %}
      

{% block content %}
    <div class="row">
        {% if not result %}
        <h1>English language registers explorer</h1>
          <p class="lead">powered by word embeddings</p>
	{% endif %}
	
	<h2>Word analysis</h2>
	<p>Type your query word (optionally with part of speech tag):</p>
            <form method=post>
              <div class="form-group">
        {% if word %}
        <input type="text" class="form-control" name="query" value="{{ word }}" maxlength=100>
        {% else %}
        <input type="text" class="form-control" name="query" placeholder="apple_SUBST" maxlength=100>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary" name="query" value = "submit">Submit!</button>
            </form>
    {% if error %}
        <p> {{ error }}</p>
    {% endif %}
     {% if result %}
               {% if distances %}
     {% if wordimages[word]  %}
<div class="avatar">
    <a href="https://en.wikipedia.org/wiki/{{ word }}" target="_blank"><img align="right" src = '{{ wordimages[word] }}' alt = "{{word }} in Wikipedia" title = "{{word }} in Wikipedia" width="150"></a>
</div>
      {% endif %}
           
       <h3>Distances between <a href="http://ltr.uio.no/embeddings/registers/word/{{ word+'_'+pos }}"><i>{{word}}</i></a> meaning in particular registers and general English</h3>
	<p><i>General English is represented by the model trained on the whole <a href="http://www.natcorp.ox.ac.uk/">British National Corpus</a> (BNC)</i></p>
	<p><i>Distances take values from <strong>0</strong> (the word is used in the mainstream meaning in this register) to <strong>1</strong> (the word is used in a completely different meaning compared to the language in general)</i></p>
       <canvas id="distances"></canvas>
       <script src="http://ltr.uio.no/~andreku/dist/js/html5-canvas-bar-graph.js"></script>
       <script>
       var ctx = document.getElementById("distances").getContext("2d");
       var graph = new BarGraph(ctx);
       graph.maxValue=1;
       graph.colors=["red","green","yellow","blue","cyan"];
       graph.margin = 4;
       graph.width = 450;
       graph.height = 150;
       graph.xAxisLabelArr = [
       {% for el in distances%}
       "{{ models[el[0]] }}",
       {% endfor %}
       ];
       graph.update([
       {% for el in distances%}
       {{ el[1] }},
       {% endfor %}
       ]);
       </script>
         {% endif %}

      <h3>Words related to <a href="http://ltr.uio.no/embeddings/registers/word/{{ word+'_'+pos }}"><i>{{word}}</i></a> <small>({{ pos }})</small> across different language registers</h3>
<div class="row">
    <div class="col-md-7">
    {% for model in result if model != 'all' %}
        <div class="col-md-4">
        <h4><strong>{{ models[model] }}</strong></h4>
        <p><i><a href="http://ltr.uio.no/embeddings/registers/concordance/{{ word+'_'+pos }}/{{ model }}" target="_blank">(examples of usage)</a></i></p>
        <ol>
        {% for res in result[model] if not "No results" in res and res != "Incorrect tag!" and not 'is unknown' in res  %}
        <li style='margin: 10px 0;'>
        <big><a href="http://ltr.uio.no/embeddings/registers/word/{{ res[0] }}">{{ res[0].split('_')[0] }}</a></big>
        {% if wordimages[res[0].split('_')[0]]  %}
	    <div class="avataricon">
		<a href="https://en.wikipedia.org/wiki/{{ res[0].split('_')[0] }}" target="_blank"><img src = '{{ wordimages[res[0].split('_')[0]] }}' alt = "{{res[0].split('_')[0]|capitalize }} in Wikipedia" title = "{{ res[0].split('_')[0]|capitalize }} in Wikipedia" width="30"></a>
	    </div>
      {% endif %}
        </li>
        {% endfor %}
        </ol>
        {% if 'is unknown' in result[model][0] %}
        <i>{{ result[model][0] }}</i>
        
        {% endif %}
        
        </div>
    {% endfor %}
    </div>
    <div class="col-md-5">
        <div style="position: relative; left:30%;">
        <big>
        <h4><strong>General English</strong></h4>
        <ol>
        {% for res in result['all'] if not "No results" in res and res != "Incorrect tag!" and not 'is unknown' in res  %}
        <li>
        <strong><a href="http://ltr.uio.no/embeddings/registers/word/{{ res[0] }}">{{ res[0].split('_')[0] }}</a></strong>
        </li>
        {% endfor %}
        </ol>
        {% if 'is unknown' in result['all'][0] %}
        <i>{{ result['all'][0] }}</i>
        {% endif %}
        
        </big>
        </div>
    </div>
</div>

{% endif %}
        
     
{% endblock %}
