{% extends "base.html" %}

{%- block title %}
     {% if word %}
     <title>RegisterExplorer: {{ word }}</title>
     {% else %}
     <title>RegisterExplorer: word analysis</title>
     {% endif %}
     
     
{%- endblock title %}
      

{% block content %}
  <div class="row">
    {% if not result %}
      <h1>English language registers explorer</h1>
      <p class="lead">powered by word embeddings</p>
	  {% endif %}
	
	<h2>Word analysis</h2>
	<p>Type your query word (optionally with part of speech tag):</p>
    <div id="queryform">
      <form id="inputform" action="#" method=post>
        <div class="form-group">
          {% if word %}
          <input type="text" class="typeahead" id="query" name="query" value="{{ word }}" maxlength=100>
          {% else %}
          <input type="text" class="typeahead" id="query" name="query" placeholder="apple_SUBST" maxlength=100>
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary" id="send" name="query" value = "submit">Submit!</button>
      </form>
    </div>
    {% if error %}
      <p> {{ error }}</p>
    {% endif %}

      {% if result %}
        {% if distances %}
          <h3>Distances between <a href="/embeddings/registers/word/{{ word+'_'+pos }}"><i>{{word}}</i></a> meaning in particular registers and general English</h3> 

            <div class="col-md-6">  
              <p><i>Based on texts from the <a href="http://www.natcorp.ox.ac.uk/">British National Corpus</a> (BNC)</i></p>
              <p><i>Distances take values from <strong>0</strong> (the word is used in the mainstream meaning in this register) to <strong>1</strong> (the word is used in a completely different meaning compared to the language in general)</i></p>
                   <canvas id="distances"></canvas>
                   <script src="/data/html5-canvas-bar-graph.js"></script>
                   <script>
                   var ctx = document.getElementById("distances").getContext("2d");
                   var graph = new BarGraph(ctx);
                   graph.maxValue=1;
                   graph.colors=["red","green","yellow","blue","cyan"];
                   graph.margin = 4;
                   graph.width = 450;
                   graph.height = 150;
                   graph.xAxisLabelArr = [
                   {% for el in distances%}
                   "{{ models[el[0]] }}",
                   {% endfor %}
                   ];
                   graph.update([
                   {% for el in distances%}
                   {{ el[1] }},
                   {% endfor %}
                   ]);
                   </script>
            </div>

            <div class="col-md-6">  
              <p><i>The graph of distances between all registers.</i></p>
              <img id="myImg" src="{{image_path}}" alt="Graph of distances between registers" width="500" height="200">
              <div id="myModal" class="modal">
                <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
              </div>  
            </div>   

         {% endif %}
        </div>

    <div style="clear:left;">
      <h3>Words related to <a href="/embeddings/registers/word/{{ word+'_'+pos }}"><i>{{word}}</i></a> <small>({{ pos }})</small> across different language registers</h3>
      <div class="row">
        <div class="col-md-7">
          {% for model in result if model != 'all' and not 'is unknown' in result[model][0] %}
            <div class="col-md-4">
              <h4><strong>{{ models[model] }}</strong></h4>
              {% if freq[model] > 0 %}
                <p><small><i>Frequency: <strong>{{ freq[model] }}</strong></i></small></p>
              {% if freq[model] < 20 %}
                <p><small><strong>Attention: infrequent word!<br/>Results are not reliable.</strong></small></p>
              {% endif %}
              {% endif %}
        
        <ol>
        {% for res in result[model] if not "No results" in res and res != "Incorrect tag!" and not 'is unknown' in res  %}
        <li style='margin: 10px 0;'>
        <big><a href="/embeddings/registers/word/{{ res[0] }}">{{ res[0].split('_')[0] }}</a></big>
        {% if wordimages[res[0].split('_')[0]]  %}
	    <div class="avataricon">
		<a href="https://en.wikipedia.org/wiki/{{ res[0].split('_')[0] }}" target="_blank"><img src = '{{ wordimages[res[0].split('_')[0]] }}' alt = "{{res[0].split('_')[0]|capitalize }} in Wikipedia" title = "{{ res[0].split('_')[0]|capitalize }} in Wikipedia" width="30"></a>
	    </div>
      {% endif %}
        </li>
        {% endfor %}
        </ol>
        <p><i><a href="/embeddings/registers/concordance/{{ word+'_'+pos }}/{{ model }}" target="_blank">(browse examples of usage)</a></i></p>
        </div>
        {% endfor %}
        {% for model in result if model != 'all' and 'is unknown' in result[model][0] %}
        <div class="col-md-4">
        <h4><strong>{{ models[model] }}</strong></h4>
        <i>{{ result[model][0] }}</i>
        </div>
        {% endfor %}

        
        </div>

    <div class="col-md-5">
        <div style="position: relative; left:30%;">
        <big>
        <h4><strong>General English</strong></h4>
        {% if freq['all'] > 0 %}
        <p><small><i>Frequency: <strong>{{ freq['all'] }}</strong></i></small></p>
        {% if freq['all'] < 20 %}
        <p><small><strong>Attention: infrequent word!<br/>Results are not reliable.</strong></small></p>
        {% endif %}
        {% endif %}
        <ol>
        {% for res in result['all'] if not "No results" in res and res != "Incorrect tag!" and not 'is unknown' in res  %}
        <li>
        <strong><a href="/embeddings/registers/word/{{ res[0] }}">{{ res[0].split('_')[0] }}</a></strong>
        </li>
        {% endfor %}
        </ol>
        {% if 'is unknown' in result['all'][0] %}
        <i>{{ result['all'][0] }}</i>
        {% endif %}
        
        </big>
    </div>
</div>
</div>

{% endif %}
{% endblock %}
